header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px hsl(130, 100%, 50%);
    font-size: 400%;
    margin: 20px 0 20px 0;
}


body {
    background-image: url("../../mining.jpg");
    background-color: #cccccc;
 }

.crystals{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.crystal{
    height: 200px;
    width: 200px;
}


#result{
    font-size: 225%;
    padding-top: 30px;
    text-align: center;
}

.circleBase {
    align-content: center;
    border-radius: 50%;
}

.blockBase {
    align-content: center;
    border-radius: 1%;
}

.type1 {
    margin: auto;
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red;
}

.howTo{
    padding-top: 10px;
    margin: auto;
    height: 180px;
    background: yellow;
    border: 3px solid red;

}

.howToPlay{
    font-size: 2em;
    text-align: center;
}

img{
    width: 50px;
}

#previous {
    font-size: 2.5em;
    padding-top: 10px;
    text-align: center;
} 

#userScore{
    text-align: center;
    padding-top: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}


.winCol {
    font-size: 2.5em;
    text-align: center;
    width: 300px;
    height: 200px;
    background: yellow;
    border: 3px solid red;
}

.loseCol {
    font-size: 2.5em;
    text-align: center;
    width: 300px;
    height: 200px;
    background: yellow;
    border: 3px solid red;
}

#win {
    padding-top: 25%;
    text-align: center;
}

#lose {
    padding-top: 25%;
    text-align: center;
}
 